<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An intelligent FAQ chatbot powered by Cohere AI to answer your questions">
    <meta name="keywords" content="chatbot, FAQ, AI, Cohere, assistance">
    <meta name="author" content="Upendra">
    <meta property="og:title" content="Upendra's Chatbot">
    <meta property="og:description" content="An intelligent FAQ chatbot powered by Cohere AI to answer your questions">
    <meta property="og:type" content="website">
    <title>Upendra's Chatbot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Simple FAQ's Chatbot 🤖</h1>
        <div id="chatbox"></div>
        <div class="input-area">
            <input type="text" id="userInput" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='chatbot.js') }}"></script>
</body>
</html>
